#grad2{
  height: 1500px;
  background-color: #cccccc;
  background-image: linear-gradient(black, yellow);
  margin: 0px;
}

h1{
  color: #cccccc;
  text-align: center;
  border: 5px solid #cccccc;
}

h2{
  color: #cccccc;
  text-align: center;
  margin-top: 25px;
  border: 5px solid #cccccc;
  border-radius: 15px;
}

#P1{
  color: aqua;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  text-decoration: underline;
}

#p2{
  font-size: 22px;
  text-align: center;
  text-shadow: 1px 1px aqua;
  padding:5px 5px 5px 5px;
  background-color: #cccccc

}

ol{
  height: 80px;
  margin-top: 10px;
}

#ulone{
  color: black;
  border: 3px solid black;
  border-radius: 15px;
  background-color: #cccccc;
  padding: 10px 0px 20px 0px;
  height: 10px;

}

#ultwo{
  color: black;
  border: 3px solid black;
  border-radius: 15px;
  background-color: #cccccc;
  padding: 10px  0px 20px 0px;
  height: 10px;
}

#img{
  width: 100px;
      height: 100px;
      background: #cccccc;
      position: relative;
      -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
      animation: mymove 5s infinite;
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes mymove {
      from {left: 0px;}
      to {left: 450px;}
  }

  @keyframes mymove {
      from {left: 0px;}
      to {left: 200px;
  transform: rotate(90deg); /* Equal to rotateZ(90deg) */
  margin-bottom: 0px;
  margin-left: 350px;
  border:3px solid aqua;
  border-style: inset;
}

}

#img2{
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 350px;
  border:3px solid aqua;

}
